/* Navbar */

.navbar {
    font-family: "Candara";
    opacity: .95;
}

.nav-link {
    color:dimgray;
    font-size: 140%;
}

a:hover {
  color: darkslateblue;
}


/* Text */

.text {
    font-family: "Candara";
    color:dimgray;
}

/* Background */

body {
    background-image: url("background1.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

/* Spacing */

top {
    margin-top: 1000px;
}

.icon {
    max-width: 15%;
}
